@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    margin: 40px;
}

header > p {
    font-family: sans-serif;
    margin: 20px;
}

article {
    padding: 20px;
    line-height: 40px;
}

div {
    color: white;
    line-height: 50px;
    height: 70vh;
    padding: 20px;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    box-shadow: 1;

}

